<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <h1>Cadastrar Operação</h1>
    <br>
    <form action="/resposta" method="post">
        <!-- Data -->
        <label for="data">Data:</label>
        <input type="date" name="data">
        <br>
        <br>
        <!-- Código -->
        <label for="">Escolha um codigo:</label>
        <select id="" name="codigo">
            <option value="ITSA4">ITSA4</option>
            <option value="BBSE3">BBSE3</option>
        </select>
        <br>
        <br>
        <!-- Tipo -->
        <label for="tipo">Tipo:</label>
        <input type="radio" name="tipo" value="Compra">
        <label for="Compra">Compra</label>
        <input type="radio" name="tipo" value="Venda">
        <label for="Venda">Venda</label>
        <br>
        <br>
        <!-- Quantidade -->
        <label for="quantidade">Quantidade:</label>
        <input type="number" name="number_int">
        <br>
        <br>
        <!-- Preço -->
        <label for="preco">Preço unitário:</label>
        <input type="number" name="number_float">
        <br>
        <br>
        <!-- Botão -->
        <button type="submit">Salvar</button>
    </form>
</body>
</html>